<nav class="navbar navbar-expand-lg navbar-light vw-50" style="background-color: rgba(255, 255, 255, 0.5);">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Conteúdo da Navbar -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto"> <!-- Alinha elementos à direita -->
        <!-- Dropdown para troca de idioma -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% case I18n.locale %>
              <% when :en %>
                <img src="<%= image_path('united-states.png') %>" alt="Inglês" style="width: 20px; height: auto;"> Inglês
              <% when :pt %>
                <img src="<%= image_path('brazil.png') %>" alt="Português" style="width: 20px; height: auto;"> Português
              <% else %>
                <i class="fas fa-globe"></i> Idioma
            <% end %>
          </a>

          <ul class="dropdown-menu" aria-labelledby="languageDropdown">
            <li>
              <%= link_to set_locale_path(:en), class: "dropdown-item" do %>
                <img src="<%= image_path('united-states.png') %>" alt="Inglês" style="width: 20px; height: auto;"> Inglês
              <% end %>
            </li>
            <li>
              <%= link_to set_locale_path(:pt), class: "dropdown-item" do %>
                <img src="<%= image_path('brazil.png') %>" alt="Português" style="width: 20px; height: auto;"> Português
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container-fluid h-custom">
    <div class="row">
      <div class="col-md-6">
        <div class="row justify-content-center">
          <div class="col-xl-8">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <% if resource.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h2>
                  <ul>
                    <% resource.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <!-- Aqui está o formulário para registro de usuários -->
              <h1><%= t(:welcome) %><span class ="blue-color"> Mainô</span><span class="green-color">Blog</span>,</h1>
              <h3><%= t(:make)%> <span class="fw-bold">REGISTER</span></h3>
              <div class="card w-100 p-3" style="max-width: 600px;">
                <div data-mdb-input-init class="form-outline mb-3">
                  <%= f.label :full_name, t(:fullname), class: "form-label fw-bold" %>
                  <%= f.text_field :full_name, class: "form-control form-control-lg", placeholder: "Enter your full name" %>
                </div>
                <div data-mdb-input-init class="form-outline mb-3">
                  <%= f.label :username, t(:username), class: "form-label fw-bold" %>
                  <%= f.text_field :username, class: "form-control form-control-lg", placeholder: "Enter your username" %>
                </div>
                <div data-mdb-input-init class="form-outline mb-3">
                  <%= f.label :email, "E-mail", class: "form-label fw-bold" %>
                  <%= f.email_field :email, class: "form-control form-control-lg", placeholder: "Enter a valid email address" %>
                </div>
                <div data-mdb-input-init class="form-outline mb-3">
                  <%= f.label :password, t(:password), class: "form-label fw-bold" %>
                  <%= f.password_field :password, class: "form-control form-control-lg", placeholder: "Enter password" %>
                </div>
                <div data-mdb-input-init class="form-outline mb-1">
                  <%= f.label :password_confirmation, t(:confirm), class: "form-label fw-bold" %>
                  <%= f.password_field :password_confirmation, class: "form-control form-control-lg", placeholder: "Repeat your password" %>
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                  <%= f.submit t(:resbotton), class: "btn btn-lg green-background", style: "padding-left: 2.5rem; padding-right: 2.5rem;" %>
                  <p class="small fw-bold mt-2 pt-1 mb-0"><%= t(:login)%>? Click 
                    <%- if controller_name != 'sessions' %>
                      <%= link_to t(:here), new_session_path(resource_name), class: "green-color" %>
                    <% end %></p>
                </div>
                <div class="text-center text-lg-start">
                  <p class="small fw-bold mt-2 pt-1 mb-0"><%= t(:home)%> ? Click 
                    <%= link_to t(:here), root_path, class: "green-color" %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <%= image_tag 'maino-logo.png', width: "500rem", class: "mt-5" %>
      </div>
    </div>
  </div>
</section>

<!-- Script para Fade-out das Flash Messages -->
<script>
  setTimeout(function() {
    const alerts = document.querySelectorAll('.alert');
    alerts.forEach(alert => {
      alert.style.transition = 'opacity 1s';
      alert.style.opacity = 0;
      setTimeout(() => alert.remove(), 1000);
    });
  }, 3000); // Espera 3 segundos antes de começar a desaparecer
</script>