<section class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container-fluid h-custom">
    <div class="row">
      <div class="col-md-6">
        <div class="row justify-content-center">
          <div class="col-xl-8">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <% if resource.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(resource.errors.count, "error") %> prohibited this user from being saved:</h2>
                  <ul>
                    <% resource.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <h1>Welcome to <span class ="blue-color">Mainô</span><span class="green-color">Blog</span>,</h1>
              <h3>make your register <span class="fw-bold">Register</span></h3>
              <div class="card w-100 p-3" style="max-width: 600px;">
                <div data-mdb-input-init class="form-outline mb-3">
                  <%= f.label :full_name, "Full Name", class: "form-label fw-bold" %>
                  <%= f.text_field :full_name, class: "form-control form-control-lg", placeholder: "Enter your full name" %>
                </div>
                <div data-mdb-input-init class="form-outline mb-3">
                  <%= f.label :username, "Username", class: "form-label fw-bold" %>
                  <%= f.text_field :username, class: "form-control form-control-lg", placeholder: "Enter your username" %>
                </div>
                <div data-mdb-input-init class="form-outline mb-3">
                  <%= f.label :email, "E-mail", class: "form-label fw-bold" %>
                  <%= f.email_field :email, class: "form-control form-control-lg", placeholder: "Enter a valid email address" %>
                </div>
                <div data-mdb-input-init class="form-outline mb-3">
                  <%= f.label :password, 'Password', class: "form-label fw-bold" %>
                  <%= f.password_field :password, class: "form-control form-control-lg", placeholder: "Enter password" %>
                </div>
                <div data-mdb-input-init class="form-outline mb-1">
                  <%= f.label :password_confirmation, 'Confirm Password', class: "form-label fw-bold" %>
                  <%= f.password_field :password_confirmation, class: "form-control form-control-lg", placeholder: "Repeat your password" %>
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                  <%= f.submit "Login", class: "btn btn-lg green-background", style: "padding-left: 2.5rem; padding-right: 2.5rem;" %>
                  <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? Click  <%- if controller_name != 'sessions' %>
                      <%= link_to "Here", new_session_path(resource_name), class: "green-color" %>
                    <% end %></p>
                </div>
                <div class="text-center text-lg-start">
                  <p class="small fw-bold mt-2 pt-1 mb-0">Do you want to return to the home page ? Click 
                    <%= link_to "here!", root_path, class: "green-color" %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <%= image_tag 'maino-logo.png', width: "500rem", class: "mt-5" %>
      </div>
    </div>
  </div>
</section>