<div class="d-flex my-5 justify-content-center gap-5">
  <div class="d-flex flex-column gap-3">
    <div class="card" style="width: 35rem; padding: 0.5rem;">
      <div class="d-flex justify-content-between">
        <% if user_signed_in? && current_user.profile_pic.attached? %>
          <%= image_tag current_user.profile_pic, class: "img-thumbnail rounded-circle", style: "width: 10%" %>
        <% else %>
          <%= image_tag "user-pp.png", class: "img-thumbnail rounded-circle", style: "width: 6%" %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to user_path(current_user), class: "a-decoration-none", style: "text-decoration: none;" do %>
            <span class="fw-bold mx-2 blue-text"><%= current_user.username %></span>
          <% end %>
        <% end %>
      </div>
      <%= render 'posts/form', post: Post.new %>
    </div>
    <div>
      <% @posts.each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
      <div class="d-flex justify-content-center">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
