<div class="card" style="width: 28rem; padding: 0.5rem;">
  <%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="mb-3 border-bottom" style="border-bottom: 2px solid black;">
      <%= form.text_area :description, class: "form-control no-outline", placeholder: "What's happening?", rows: 3 %>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <%= form.file_field :images, id: "file-upload", multiple: true, style: "display: none" %>
        <label for="file-upload" style="cursor: pointer;">
          <i class="fa-regular fa-image fa-2x"></i>
        </label>
      </div>
      <div>
        <%= form.submit 'Post' %>
      </div>
    </div>
  <% end %>
</div>