<div id="post<%= comment.post_id %>ModalComment<%= comment.id %>">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div class="d-flex flex-column mx-3 justify-content-center">
        <% if comment.is_a?(Comment) %>
          <small class="fw-bold" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:10rem">
            <%= link_to comment.user, class: "a-decoration-none", data: { turbo: 'false' } do %>
              <%= comment.user.username %>
            <% end %>
          </small>
        <% else %>
          <small class="fw-bold">Anônimo_<%= comment.id %></small>
        <% end %>
        <small> <%= comment.body %> </small>
        <small class="text-muted"> <%= time_ago_in_words(comment.created_at) %> </small>
      </div>
    </div>
    <% if comment.respond_to?(:user) && comment.user == current_user %>
  <%= button_to comment_path(id: comment.id), method: :delete, style: "background:none; border:none" do %>
    <i class="fa fa-times"></i>
  <% end %>
<% elsif !comment.respond_to?(:user) && comment.post.user == current_user %>
  <%= button_to guest_comment_path(id: comment.id), method: :delete, style: "background:none; border:none" do %>
    <i class="fa fa-times"></i>
  <% end %>
<% end %>
  </div>
</div>