<nav class="navbar navbar-expand-lg bg-light sticky-top bg-white border-bottom" style="border-color: #afafaf">
  <div class="container-fluid d-flex justify-content-between align-items-center w-75">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'maino-logo.png', width: "100rem"%>
    <% end %>
    <!-- Input de busca -->
    <div class="col-auto">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search">
        <button class="btn bg-color" type="button">Search</button>
      </div>
    </div>
    <!-- Dropdown do usuário atual -->
    <% if user_signed_in? %>
      <div class="dropdown blue-text">
        <a class="nav-link dropdown-toggle blue-text" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= current_user.email %>
        </a>
        <ul class="dropdown-menu blue-text">
          <li><%= link_to 'Profile', user_path(current_user), class: "dropdown-item blue-text" %></li>
          <li><%= link_to 'Settings', edit_user_registration_path, class: "dropdown-item blue-text" %></li>
          <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item blue-text" %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</nav>